.footer{
    width: 100%;
    min-height:30px;
    display: flex;
    flex-direction: row;
}
.box{
    width: 33%;
    padding: 20px auto;
}
.bottom-lines{
    display: flex;
    gap: 30%;
    margin-left: 10%;
    
    
}
.bottom-lines li{
    list-style: none;
    
    
}
.bottom-lines-right{
    display: flex;
    width: 50%;
    margin-left:40%;
    gap: 63;
}
.bottom-lines-right li{
    list-style: none; 
    text-align: right;  
}
